
@{
    ViewBag.Title = "Upload Pretrade Batch";
}

<h2>Upload PreTrade Batch</h2>

@using (Html.BeginForm("UploadBatch", "BatchPreTrade", FormMethod.Post, new { enctype = "multipart/Form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="file">Pre-trade Batch:</label>
            </div>
            <div class="col-md-10">
                <input type="file" name="file" id="file" style="width:30%" />
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>@ViewBag.Message</div>
